<h3>Wydatki</h3>
<div *ngIf="expenses">
	<b>Woda:</b> {{ expenses.water/100 | currency:'PLN' }}
	<br>
	<b>Prąd:</b> {{ expenses.electricity/100 | currency:'PLN' }}
	<br>
	<b>Twoje saldo:</b> {{ accountAmmount/100 | currency:'PLN' }}
	<br>
	<b>Saldo po opłaceniu:</b> {{ afterPay/100 | currency:'PLN'  }}
	<div>
		<button id="rich" (click)="payExpenses()" *ngIf="accountAmmount > 0">Zapłać</button>
		<span id="poor" *ngIf="accountAmmount < 0">MASZ DEBET. NIE MOŻESZ OPŁACIĆ RACHUNKU</span>
		<span *ngIf="accountAmmount === 0">Nie masz środków na koncie żeby opłacić rachunek</span>
	</div>
</div>